<%= render @feed %>

<turbo-frame id="feed_posts">
  <%= render 'feed_posts', feed_title: 'My Feed', feed_posts: @feed.posts %>
  <%= render 'posts/form', feed: @feed %>
</turbo-frame>
<br>
<div>
  <%= link_to "User Feeds", users_path %>
</div>
